QPushButton {
    background-color: #005186;
    color: white;
    border-radius: 8px;
    padding: 6px;
    font: bold 11pt 'Segoe UI';
}

QPushButton:hover {
    background-color: #005b97;
}

QPushButton:pressed {
    background-color: #0063a5
}

QStatusBar {
    background-color: #202020;
}

QTextBrowser {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font: 10pt 'Segoe UI';
}

#centralWidget {
    background-color: #252525;
}

#topbarWidget {
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 1px solid #555555;
}

#pageWidget {
    background-color: #333333;
    border-radius: 4px;
    border: 1px solid #414141;
}

#graphWidget {
    background-color: #ecf0f1;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
}

#exit_btn {
    background-color: #4b4b4b;
}

#exit_btn:hover {
    background-color: #a00000;
}