QDialog {
    background-color: #2b2b2b;
    color: #f0f0f0;
    font-family: "Segoe UI", "Arial";
}

QLineEdit {
    background-color: #3c3f41;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 4px;
}

QPushButton {
    background-color: #3c3f41;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 4px 10px;
}

#topbarLabel {
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 1px solid #555555;
    font-size: 18px;
    color: white;
}

#categoryLabel,
#amountLabel {
    font-size: 15px;
    color: white;
}