/* --> Page Widget <-- */
#pageWidget {
    background-color: #202020;
    border: 1px solid #272727;
}

#pageWidget QPushButton {
    border-radius: 0px;
}

#pageWidget QPushButton:hover {
    background-color: #2b2b2b;
    border-left: 4px solid #3d3d3d;
}

#pageWidget QPushButton:pressed {
    background-color: #353535
}

#pageWidget #label {
    border-bottom: 1px solid #414141;
}