/* --> Topbar <-- */
#topbarWidget {
    background-color: #2b2b2b;
    border: 1px solid #2e2e2e;
}

#topbarWidget QLabel {
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    letter-spacing: 3px;
    font: bold 16pt 'Segoe UI';
}

#exit_btn,
#minimize_btn {
    background-color: #2b2b2b;
}

#exit_btn:hover {
    background-color: #a00000;
}

#minimize_btn:hover {
    background-color: #3a3a3a;
}