QPushButton {
    background-color: #2980b9;
    color: white;
    border-radius: 8px;
    padding: 6px;
    font: bold 11pt 'Segoe UI';
}

QPushButton:hover {
    background-color: #3498db;
}

QPushButton:pressed {
    background-color: #2471a3;
}

#topbarWidget {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dcdcdc;
}

QTextBrowser {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    font: 10pt 'Segoe UI';
}

#graphWidget {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
}
